/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 20 Sep 2023, 12:51:31 am
    Author     : Nur Adlina
*/
body{
    background-image: url('13.png'); /* Replace with the path to your background image */
    background-size: 1400px 650px ; /* Adjusts the image to cover the entire body */
    background-repeat: no-repeat; /* Prevents image repetition */
    background-attachment: fixed; /* Keeps the background fixed while scrolling */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    font-family: Georgia, serif;
}
.container {
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    align-items: center; /* Center vertically */
    height: 100vh; /* Set the container height to the viewport height */
    padding-right: 20px;
    padding-bottom: 0;
}
h1{
    margin: 10px 50px 30px 30px;
    font-size: 30px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 600px;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto; /* Center content horizontally */
    vertical-align: middle; /* Center content vertically */
}

td img {
    width: 100px;
    height: 120px;
    display: block; /* Ensures the image is centered within the cell */
    margin: 0 auto; /* Center content horizontally */
    vertical-align: middle; /* Center content vertically */
}

.button-container {
    text-align: center; /* Center the buttons horizontally */
    margin-top: 20px; /* Add some spacing between form elements and buttons */
}

input[type="submit"],
input[type="reset"] {
    background-color: #814018;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block; /* Display as inline-block */
    margin: 10px;
}